@import "../../variables";

$entity-card--height: 200px;
$entity-card--margin-bottom: 20px;
$entity-card--title-fontsize: 16pt;
$entity-card--active-border-color: $pt-intent-primary;
$entity-card--active-border-size: 2px;

.entity-card {
  width: 100%;
  height: $entity-card--height;
  margin-bottom: $entity-card--margin-bottom;
  position: relative;

  &--border {
    .pt-card {
      box-shadow: $entity-card--active-border-size $entity-card--active-border-size 0 $entity-card--active-border-color,
        -1 * $entity-card--active-border-size $entity-card--active-border-size 0 $entity-card--active-border-color,
        $entity-card--active-border-size -1 * $entity-card--active-border-size 0 $entity-card--active-border-color,
        -1 * $entity-card--active-border-size -1 * $entity-card--active-border-size 0 $entity-card--active-border-color !important;
    }
  }

  &--title {
    font-size: $entity-card--title-fontsize;
    color: $pt-intent-primary;
  }

  &--tags {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap-reverse;

    .pt-tag {
      margin-right: 5px;
      margin-top: 5px;
    }
  }
}
