@import "~@blueprintjs/core/lib/scss/variables";

.mx-tree {
  padding: 10px 0;

  &--container {
    width: 270px;
    background-color: rgba(255,255,255,0.7);
    border-right: 1px solid rgba(0,0,0,.05);

    .pt-dark & {
      background-color: $pt-dark-code-background-color;
      border: none;
    }
  }


}
