@import "~@blueprintjs/core/lib/scss/variables";

.mx-tree {
  padding: 10px 0;

  &--container {
    width: 100%;
  }
  &--label-node {
    margin-top: 20px;
    margin-left: -15px;
    &:first-child { margin-top: 5px; }
  }
  &--label-node > .pt-tree-node-content {
    &:hover {
      background-color: inherit !important;
    }
  }
}
