@import "../../variables";

$sidebar-width: 270px;
$sidebar-bg-light: white;
$sidebar-bg-dark: $pt-dark-code-background-color;

.mx-page {
  display: flex;
  position: relative;
  min-width: 100vw;

  height: calc(100vh - #{$pt-navbar-height});
  &--no-navbar { height: 100vh !important; }

  background-color: $pt-app-background-color;
  .pt-dark & { background-color: $pt-dark-app-background-color; }

  &--center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--sidebar {
    flex-shrink: 0;
    width: $sidebar-width;
    background-color: $sidebar-bg-light;
    overflow: hidden !important;
    box-shadow: $pt-elevation-shadow-0;

    .pt-dark & {
      background-color: $sidebar-bg-dark;
      box-shadow: $pt-dark-elevation-shadow-0;
    }
  }

  &--contents {
    flex-grow: 1;
    overflow: scroll !important;

    &-center {
      justify-content: center;
      align-items: center;
    }
  }
}
